* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.seccion {
    margin: auto;
    overflow: hidden;
}

.titulo {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 60px
}

header {
    width: 100vw;
    height: 45vh;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(0, 0%, 26%, 0.719), hsla(0, 0%, 0%, 0.699)), url(images/777722jametlene-reskp-I6at9F7mWDQ-unsplash\ \(1\).jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: border;
    background-repeat: none;
}



.nav-menu {
    display: flex;
    flex-wrap: wrap;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    height: 80px;
    position: fixed;
    width: 100%;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
}

.nav__link:hover {
    color: rgb(185, 177, 180);
}

.nav__item {
    line-height: 80px;
    padding: 0 30px;
    list-style: none;
    width: max-content;
}

.nav__link--active {
    text-decoration: none;
    padding: 11px 22px;
    color: rgb(59, 152, 238);
    border: solid 2px rgb(59, 152, 238);
    font-size: 1.4em;
    font-weight: bolder;
}

.nav__link--active:hover {
    color: #000;
    background-color: rgb(59, 152, 238);
    transition: color .5s;
}

.nav__img-logo {
    height: 80px;
    padding: 0 30px;
}

.nav-toggle {
    background-color: #000000;
    height: 60px;
    line-height: 60px;
    width: 5vw;
    color: #fff;
    border: none;
    padding: 20px 40px;
    margin: 0 20px;
    display: none;
    font-weight: lighter;
}



.btn-wsp {
    position: fixed;
    width: 70px;
    height: 70px;
    line-height: 70px;
    bottom: 60px;
    right: 60px;
    background-color: rgb(43, 192, 80);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 50px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    background-color: #fff;
    color: rgb(43, 192, 80);
    transition: color .2s;
}



.main {
    background-color: #000;
    color: #fff;
    line-height: 1.5;
    text-align: justify;
    font-size: 18px;
}

.parrafos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sobre-nosotros {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.sobre-nosotros h2 {
    padding: 30px 60px;
    font-size: 60px;
}


.sobre-nosotros h2 b {
    color: rgb(59, 152, 238);
}

.sobre-nosotros p {
    width: 45%;
    min-width: 350px;
    line-height: 2.9;
    text-align: justify;
    font-size: 22px;
    font-weight: 500;
    padding: 0 30px;
}

.sobre-nosotros__boton {
    text-decoration: none;
    padding: 15px 35px;
    color: rgb(59, 152, 238);
    border: solid 1px rgb(59, 152, 238);
    font-size: 1.5em;
    font-weight: 500;
    margin: auto;
    margin-top: 60px;
}

.sobre-nosotros__boton:hover {
    color: #000;
    background-color: rgb(59, 152, 238);
    border: solid 1px #000;
    transition: color .3s;
}

.como-empezo__container {
    width: 90%;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    align-items: center;
   }

   
   

   

.como-empezo h2 {
    padding: 10px 0;
}




.como-empezo__texto {
    width: 45%;
    min-width: 350px;
    line-height: 2.9;
    font-size: 22px;  
    text-align: center;
    align-items: center;
    margin: auto;
}








.como-empezo__img {
    width: 35%;
    min-width: 350px;
        
}


.nuestra-filosofia__container {


    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    align-items: center;
}





.nuestra-filosofia__texto {
    background-color: #000;
    color: #fff;
    padding: 40px;
    font-weight: bolder;
}

.nuestra-filosofia__texto h2 {
    font-size: 30px;
    text-align: center;


}

.nuestra-filosofia__texto h3 {
    padding: 10px;
    width: 90%;
    margin: auto;
}

.nuestra-filosofia__texto p {
    padding: 40px;
    justify-content: center;
    font-size: 22px;
    line-height: 2.9;
    width: 90%;
    margin: auto;

}







.nuestro-compromiso {
    background-color: #000;
    color: #fff;
    padding: 40px;
    font-weight: bolder;
}

.nuestro-compromiso h2 {
    font-size: 30px;
    text-align: center;
}

.nuestro-compromiso p {
    padding: 40px;
    justify-content: center;
    font-size: 22px;
    line-height: 2.9;
    width: 90%;
    margin: auto;

}




.nuestros-entrenadores {
    background-color: #fff;
    color: black;
    padding: 40px;
    font-weight: bolder;
}

.nuestros-entrenadores h2 {
    font-size: 30px;
    text-align: center;
}

.nuestros-entrenadores p {
    padding: 40px;
    justify-content: center;
    font-size: 22px;
    line-height: 2.9;
    width: 90%;
    margin: auto;
}

.galeria {
    background-color: black;
    color: #fff;
    padding: 80px 0px;
    width: 90%;
    margin: auto;
}

.galeria__seccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.galeria__img img {
    width: 30vw;
    height: 60vh;
    object-fit: cover;
    padding: 20px;
}

.galeria__texto {
    width: 45vw;
    text-align: justify;
    padding: 20px;
    font-size: 19px;
    line-height: 1.9;
}

.galeria__texto h3 {
    padding: 15px;
}



footer {
    background: #000;
}

.contenedor-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 0;
}

.contenedor-footer section {
    padding: 30px 10px;
}

footer h4 {
    color: rgb(59, 152, 238);
    font-size: 25px;
    padding: 10px 0;
    text-align: center;
}

footer h5 {
    padding: 10px 0;
    color: #fff;
    text-align: center;
}

footer p {
    padding: 5px;
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
}

footer section {
    min-width: 300px;
}


.informacion-horarios p {
    line-height: 1.8;
    text-align: center;
}

i {
    font-size: 40px;
}

.redes__iconos {
    text-align: center;
}

footer a {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: #fff
}

footer a:hover {
    color: rgb(167, 169, 172);
}

.informacion-item {
    display: block;
    padding: 10px;
    text-align: left;
}


.titulo-final {
    background: #000;
    color: #fff;
    font-size: 19px;
    padding: 0 10px;
}


/*responsive max-width: 577px */


@media (max-width: 576px) {
    footer h4 {
        font-size: 15px;
    }

    footer i {
        font-size: 25px;
    }

    footer a,
    footer p {
        font-size: 12px;
    }

    .informacion-item {
        text-align: center;
        justify-content: center;
        font-size: 10px;
    }

    .titulo-final {
        font-size: 12px;
    }

    .btn-wsp {
        width: 40px;
        height: 40px;
        line-height: 40px;
        bottom: 20px;
        right: 20px;
        font-size: 18px;
    }

    .titulo {
        font-size: 20px;
        margin-bottom: 10px;
        padding: 8px;
    }

    
    

.parrafos {
    display:inline-block;
}

.sobre-nosotros {
    display: inline-block;    
    width: 100vw;    
}

.sobre-nosotros h2 {
    padding: 0 20px;
    font-size: 40px;
}

.sobre-nosotros p {
    min-width: 328px;  
    line-height: 1.8;    
    font-size: 18px;
    margin: 0;
    padding: 10px 25px;
}

.sobre-nosotros__boton {
    
    padding: 15px 35px;
  
    font-size: 2em;
    font-weight: 600;
    margin: 30px 50px;
}

.como-empezo__container {
    width: 100vw;
}


.como-empezo h2 {
    padding: 100px 0;
}


.como-empezo__texto {
    min-width: 328px;
    line-height: 1.8;
    font-size: 18px;
    margin: 0;
    padding: 10px 25px;
    text-align: justify;
}


.como-empezo__img {
    width: 100vw;
}


.nuestra-filosofia__container {
    display: inline-block;
   align-items: center;
}


.nuestra-filosofia__texto {
  width: 100vw;
   line-height: 1.8;
   font-size: 18px;
   margin: 0;
   padding: 10px 21px;
   text-align: justify;
}

.nuestra-filosofia__texto h2 {
    font-size: 30px;
    text-align: center;
    padding: 30px 10px;
}

.nuestra-filosofia__texto h3 {
    padding: 0px 10px;
    width: 100vw;
    margin: auto;
}

.nuestra-filosofia__texto p {
     min-width: 328px;
     line-height: 1.8;
     font-size: 18px;
     margin: 0;
     padding: 10px 0px;

}







.nuestro-compromiso {
      padding: 20px;
    font-weight: bold;
}

.nuestro-compromiso h2 {
    font-size: 25px;
    text-align: center;
}

.nuestro-compromiso p {
   min-width: 328px;
   line-height: 1.8;
   font-size: 18px;
   margin: 0;
   padding: 10px 0px;

}





   
    

     .nuestros-entrenadores h2 {
         font-size: 25px;
         text-align: center;
     }


    .nuestros-entrenadores p {
        line-height: 2;
        font-size: 15px;
        text-align: center;
        padding: 10px;
    }

    .nuestros-entrenadores h2 {
        padding: 10px;
    }

    .sobre-nosotros__boton {
        padding: 10px 20px;
        font-size: 15px;
      
        
        
    }

    


    .como-empezo__img img {
        width: 100vw;
    }

    

    .galeria {
        padding: 10px 0px;
        width: 100vw;
        margin: auto;
    }

    .galeria__img img {
        width: 100vw;
        padding: 10px;
    }

    .galeria__texto {
        width: 100vw;
        text-align: justify;
        padding: 10px;
        font-size: 15px;
        line-height: 2;
    }

    .galeria__texto h3 {
        padding: 10px;
    }

       
    .nav-menu {
        flex-direction: column;
        background-color: #000000;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        align-items: center;
        padding: 20px 0;
        overflow-y: auto;
        height: calc(100% - 60px);
    }

    .nav {
        height: 60px;
    }

    .nav-menu {
        flex-direction: column;
        background-color: #000000;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        align-items: center;
        padding: 20px 0;
        overflow-y: auto;
        height: calc(50% - 60px);
        left: 100%;
        transition: left 0.5s;
    }

    .nav__link {
        font-size: 1.3em;
    }

    .nav__link:hover {
        color: rgb(185, 177, 180);
    }

    .nav__item {
        line-height: 60px;
        padding: 0 20px;
    }

    .nav__link--active {
        padding: 11px 22px;
        font-size: 1.3em;
    }

    .nav__img-logo {
        height: 60px;
        padding: 0 20px;
    }

    .nav-toggle {
        padding: 10px 40px;
        height: 60px;
        line-height: 60px;
        display: block;
    }

    .nav-toggle i {
        font-size: 30px;
    }

    .nav-menu__visible {
        left: 0;
    }

    .contenedor-footer {
        flex-direction: column;

        margin: 0 auto;
        text-align: center;
    }

    .btn-wsp {
        width: 40px;
        height: 40px;
        line-height: 40px;
        bottom: 20px;
        right: 20px;
        font-size: 18px;
    }
}


/*responsive max-width: 998px and min-width: 577px */


@media (max-width: 998px) and (min-width: 577px) {
    .nav {
        height: 60px;
    }

    .nav-menu {
        flex-direction: column;
        background-color: #000000;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        align-items: center;
        padding: 20px 0;
        overflow-y: auto;
        height: calc(50% - 60px);
        left: 100%;
        transition: left 0.5s;
    }

    .nav__link {
        font-size: 1.3em;
    }

    .nav__link:hover {
        color: rgb(185, 177, 180);
    }

    .nav__item {
        line-height: 60px;
        padding: 0 20px;
    }

    .nav__link--active {
        padding: 11px 22px;
        font-size: 1.3em;
    }

    .nav__img-logo {
        height: 60px;
        padding: 0 20px;
    }

    .nav-toggle {
        font-size: 20px;
        padding: 5px;
        height: 60px;
        line-height: 60px;
        display: block;
    }

    .nav-menu__visible {
        left: 0;
    }

    .contenedor-footer {
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }
}